@use 'src/styles/vars' as v;

.page {
  background-color: #fff;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: calc(100vh-30px);
  position: relative;
}

.container:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  //background: linear-gradient(to top, #fff, transparent);
  z-index: 50;
}

.background {
  width: 100%;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.lake {
  z-index: 3;
}

/* Titre + bouton */
.content {
  position: relative;
  z-index: 99;
}

.title {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(78, 78, 78);
  z-index: 2;
}

.create {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  background-color: v.$primary-color;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  transition: all 300ms ease;
}

.create:hover {
  background-color: darken(v.$primary-color, 10%);
  color: #fff;
}

.homepage-description {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: #2B7AFD;
}

.homepage-section {
  width: 100%;
  padding: 4em 0;

  &:nth-child(2n) {
    background-color: rgba(222, 228, 240, 0.6);
  }
}

.homepage-card {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  max-width: 800px;

  &-picture {
    width: 50%;
    margin: 0 auto;
    text-align: center;

    & img {
      width: 200px;
    }
  }

  &-description {
    min-width: 300px;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    transition: all 300ms ease;

    & p {
      font-weight: 300;
      font-size: 1.2rem;
    }

    &:hover {
      color: #2B7AFD;
    }
  }
}

@media(max-width: 600px) {
  .title {
    font-size: 3rem
  }
}
