@use 'src/styles/vars' as v;

.register {
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  padding: 1rem;
}

.register-form {
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 1px 10px 0 rgba(33,33,33,.1);
  color: v.$text-color;
  max-width: 500px;

  & h2 {
      margin-top: 0;
      margin-bottom: 3rem;
      text-align: center;
  }

  & form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  & select {
    background-color: v.$background-blue;
    font-family: Ubuntu, sans-serif;
    height: 36px;
    border: 1px solid v.$border-color;
    border-radius: 5px;
    margin-top: 10px;
  }

  & input {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid v.$border-color;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;

      &[type=submit] {
        background-color: v.$primary-color;
        color: #fff;
        font-weight: 700;
        border: none;
        border-radius: 27px;
        margin-top: 40px;
        margin-bottom: 0;
        padding: 17px;
        font-size: 1.05rem;
        transition: all 300ms ease;

          &:hover {
            background-color: darken(v.$primary-color, 10%);
            cursor: pointer;
          }
      }
  }
  & label {
    text-align: left;
    display: block;
    color: black;
    font-size: 14px;
    font-weight: 500;
  }

  & textarea {
    display: block;
    margin-top: 10px;
    width: 100%;
    resize: none;
  }
}

.warning-text {
  color: v.$danger-color;
}
