footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgba(37, 37, 37, 0.8);
  color: #fff;
  padding: 1rem 0.2rem;

  & .footer-link {
    margin: 0.3rem 1rem;
  }
}
