$background-grey: #F5F5F5;
$background-blue: rgba(41,121,255,.07);
$primary-color: #2B7AFD;
$success-color: #80CC24;
$info-color: #07D5FF;
$warning-color: #FFE100;
$danger-color: #FF7A32;
$border-color: rgb(224, 224, 224);

