$background-light: #F6F3EF;
$background-third: #E9EAED;
$background-blue: rgba(41,121,255,.07);
$background-color: #fff;
$primary-color: #2B7AFD;
$success-color: #80CC24;
$info-color: #07D5FF;
$warning-color: #FFE100;
$danger-color: #FF7A32;
$border-color: rgb(224, 224, 224);
$text-color: #000000;
$max-width: 1200px;
$light_blue_background:  rgba(43, 123, 253, 0.01);
$light_blue_background__hover:  rgba(43, 123, 253, 0.01);
