@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  color: vars.$text-color;
}
h1 {
  font-size: 2em; margin: .67em 0
}
h2 {
  font-size: 1.5em; margin: .75em 0
}
h3 {
  font-size: 1.17em; margin: .83em 0
}
